/* Google font section starts here */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-regular{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.inter-regular{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.manrope-regular{
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Google font section ends here */

/* Universal classes starts here */
*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1440px;
    margin: 0 auto;
}
/* Universal classes ends here */

/* Shared styles starts here */
header,
main{
    padding: 0 25px;
}
.btn{
    padding: 12px 50px;
    border: none;
    border-radius: 5px;
    background: rgb(231, 111, 81);
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
}
.title{
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
}
.description{
    color: rgb(108, 108, 108);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    line-height: 32px
}
span{
    color: rgb(231, 111, 81);
}
/* Shared styles ends here */

/* Header section starts here */
header{
    background: linear-gradient(90.00deg, rgb(24, 24, 24),rgba(24, 24, 24, 0.82) 24.479%,rgba(24, 24, 24, 0)), url("../images/others/banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
.nav-brands > .logo{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 50px;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    line-height: 25px;
}
#responsive-bar{
    display: none;
}
.header-container{
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: center;
    height: 500px;
}
.header-title{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 4rem;
    font-weight: 700;
    line-height: 85px;
    margin-bottom: 25px;
}
.header-description{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 50px;
}
/* Header section ends here */

/* Featured section starts here */
.featured-section{
    margin-top: 100px;
}
.featured-sub-title{
    color: rgb(231, 111, 81);
    font-family: Poppins;
    font-size: .9rem;
    font-weight: 600;
    line-height: 20px;
    text-align: center;

}
.featured-sub-title > hr{
    width:70px;
    margin: 0 auto;
    border: 1px solid rgb(231, 111, 81);
    margin-top: 5px;
}
.featured-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-top: 50px;
}
.featured-card > img{
    width: 100%;
}

/* Featured section ends here */

/* News  section starts here */
.news-section{
    margin-top: 100px;
}
.news-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
    padding: 0 25px;
}
.news-card{
    padding: 20px;
    border-radius: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
}
.news-card-header > img{
    width: 100%;
}
.news-card-header{
    margin-bottom: 25px;
}
.news-card-body{
    margin-bottom: 35px;
}
.news-card-title{
    color: rgb(24, 25, 31);
    font-family: Poppins;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 40px;
}
.news-btn{
    border: 1px solid rgb(231, 111, 81);
    color: rgb(231, 111, 81);
    background-color: white;
}
/* News  section ends here */

/* Clients section starts here */
.clients-section{
    margin-top: 100px;
}
.clients-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 50px;
    padding: 0 25px;
    margin-top: 50px;
}
.clients-card{
    padding: 25px;
    box-sizing: border-box;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 5px;
    background: rgb(255, 255, 255);
}
.clients-card-header > img{
    width: 50%;
    margin: 25px 0;
}
.clients-ratings > img{
    width: 9%;
    margin-bottom: 15px;
}
.clients-card-body{
    margin-bottom: 25px;
}
.clients-footer-title-1{
    color: rgb(35, 166, 240);
    font-family: Poppins;
    font-size: .9rem;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 5px;
}
.clients-footer-title-2{
    color: rgb(37, 43, 66);
    font-family: Poppins;
    font-size: .9rem;
    font-weight: 600;
    line-height: 25px;
}
/* Clients section ends here */

/* FAQ section starts here */
.faq-section{
    margin-top: 100px;
    padding: 0 25px;
}
.faq-container{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}
.faq-image{
    width: 100%;
}
.faq-image > img{
    width: 75%;
}
.faq-content{
    width: 100%;
}
.faq-card{
    box-sizing: border-box;
    border: 1px solid rgb(213, 229, 251);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    padding: 15px;
    margin-bottom: 25px;
}
.faq-card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faq-card-header i{
    color: rgb(66, 95, 106);
}
.faq-card-title{
    color: rgb(56, 56, 56);
    font-family: Inter;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 30px;
}
.faq-card-description{
    margin-top: 15px;
}
/* FAQ section ends here */



/*================================ Responsive design starts here (For mobile)================================ */
@media screen and (max-width:576px) {
header,
.featured-section,
.clients-section{
    padding: 0 20px;
}
.title{
    font-size: 2rem;
    line-height: 50px;
}
.description{
    text-align: justify;
}
/* Header section starts here */
.nav-brands > .logo{
    font-size: 2rem;
}
.nav-item{
    display: none;
}
#responsive-bar{
    display: block;
}
#responsive-bar i{
    font-size: 1.7rem;
    margin-bottom: 0;
}
.header-title{
    font-size: 2.5rem;
    line-height: 50px;
}
.header-container{
    width: 100%;
}
.header-description{
    text-align: justify;
}
.btn{
    width: 100%;
}
/* Header section ends here */

/* Featured section starts here */
.featured-container{
    margin-top: 0;
    grid-template-columns: 1fr;
    gap: 50px;
}
.featured-title{
    margin-bottom: 5px;
}
/* Featured section ends here */

/* News section starts here */
.news-container{
    grid-template-columns: 1fr;
}
/* News section ends here */

/* Clients section starts here */
.clients-container{
    grid-template-columns: 1fr;
    padding: 0 5px;
}
/* Clients section ends here */

/* FAQ section starts here */
.faq-container{
    flex-direction: column;
    gap: 50px;
}
.faq-image > img{
    width: 100%;
}
.faq-card-title{
    text-align: justify;
}
.faq-card-header{
    gap: 25px;
}
/* FAQ section ends here */

}
/*============================= Responsive design ends here (For mobile)============================== */


/*================================ Responsive design starts here (For tablet)=============================== */
@media screen and (min-width:576px) and (max-width:992px) {
.title{
    font-size: 2.5rem;
}
/* Header section starts here */
.nav-item{
    display: none;
}
#responsive-bar{
    display: block;
}
#responsive-bar i{
font-size: 2rem;
}
/* Header section ends here */

/* Featured section starts here */
.featured-container{
    grid-template-columns: 1fr;
    gap: 50px;
}
/* Featured section ends here */

/* News section starts here */
.news-container{
    grid-template-columns: 1fr;
}
/* News section ends here */

/* Clients section starts here */
.clients-container{
    grid-template-columns: 1fr;
}
.clients-card{
    padding: 25px 50px;
}
/* Clients section ends here */

/* FAQ section starts here */
.faq-container{
    flex-direction: column;
    gap: 50px;
}
.faq-image{
    text-align: center;
}
.faq-image > img{
    width: 75%;
}
.faq-card-title{
    text-align: justify;
}
.faq-card-header{
    gap: 25px;
}
/* FAQ section ends here */
}
/* Responsive design ends here (For mobile) */